html,body{
	padding:0px;
	margin:0px;
	font-size: 15px;
	font-family: Helvetica;
	background: #C2A347;
}

nav{
	display: flex;
	background: #8c183d;
	padding: 0px;
	color: #541c43;
	justify-content: space-between;
	align-items: center;
}

nav ul{
	display: flex;
	padding-left: none;
}

nav li{
	padding-right: 10px;
	list-style: none;
}
nav li a{
	color:#C36B4B;
	text-decoration: none;
}

nav li a:hover{
	color:#541c43;
}

.main_section{
	padding: 20%;
	text-align: center;
}